.login_rectangle {
  position: fixed;
  transform: translate(-50%, -50%);
  left: -1.5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 54vh;
  width: 77vw;
  margin-left: 0px;
  border-radius: 5vh;
  background-color: rgba(255, 255, 245, 0.55);
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.login_background {
  position: relative;
  backdrop-filter: blur(20px);
}

/* USERNAME */
.flexbox_username {
  flex-basis: 50%;
  height: 60px;
  display: flex;
  margin-top: 4.5vh;
}
.flexbox_username_text {
  font-size: 35px;
  color: #5a6c73;
  font-weight: 700;
  flex-basis: 26%;
  margin-left: 10.75vh;
  align-self: center;
}
.flexbox_username_rectangle {
  color: #f98770;
  font-size: 19px;
  font-weight: 700;
  flex-basis: 47.5%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 20px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PASSWORD */
.flexbox_password {
  flex-basis: 50%;
  height: 60px;
  display: flex;
  margin-top: 4.5vh;
}
.flexbox_password_text {
  display: flex;
  font-size: 35px;
  color: #5a6c73;
  font-weight: 700;
  flex-basis: 28%;
  align-self: center;
  justify-content: center;
}
.flexbox_password_rectangle {
  color: #f98770;
  font-size: 19px;
  font-weight: 700;
  flex-basis: 47.5%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 20px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* OPTIONS */
.flexbox_options {
  margin-top: 2px;
  flex-basis: 100%;
  display: flex;
  margin-left: 67.5%;
  margin-right: 15.5%;
  justify-content: space-between;
  align-self: flex-start;
  font-weight: 700;
  font-size: 16px;
  color: #f98770;
}
.flexbox_options_text:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* EMAIL */
.flexbox_email {
  flex-basis: 100%;
  height: 60px;
  display: flex;
  margin-top: 1vh;
}
.flexbox_email_text {
  font-size: 35px;
  color: #5a6c73;
  font-weight: 700;
  flex-basis: 13%;
  margin-left: 10.75vh;
  align-self: center;
}
.flexbox_email_rectangle {
  color: #f98770;
  font-size: 19px;
  font-weight: 700;
  flex-basis: 24%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}
