.clothes_menu_list_images_container::-webkit-scrollbar-thumb {
  background: #b1bdb9;
}

.clothes_menu_list_images_container::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.clothes_menu_list_images_container::-webkit-scrollbar-track:hover {
  background: #f7f7f7;
}

.clothes_menu_list_images_container::-webkit-scrollbar-thumb:active {
  background-color: #666;
}

.clothes_menu_list_images_container::-webkit-scrollbar-track {
  background: #f7f7f7;
}
.background_circle1 {
  background-color: #f98770;
  width: 79vw;
  height: 79vw;
  border-radius: 39.5vw;
  position: absolute;
  top: 10%;
  left: -22%;
  transform: translate(-50%-50%);
  z-index: -2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(25px);
}
.background_circle2 {
  background-color: #5a6c73;
  width: 44vw;
  height: 44vw;
  border-radius: 22vw;
  position: absolute;
  top: -10%;
  left: 65%;
  transform: translate(-50%-50%);
  z-index: -2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(25px);
}
.background_white {
  background-color: rgba(245, 245, 245, 0.725);
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.outfit_creator {
  display: flex;
  position: absolute;
  top: 7.35%;
  left: 6.75%;
  transform: translate(-50%-50%);
  height: 85vh;
  width: 46vw;
  flex-direction: column;
  padding: 2vh 0;
}
.outfit_creator_images {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2.5vh;
  margin-bottom: 1vh;
}

.outfit_creator_images_container {
  position: relative;
  height: 35.5vh;
  width: 35.5vh;
  border-radius: 5%;
  overflow: hidden;
}

.outfit_creator_images_container img {
  object-fit: cover;
  object-position: top center;
  height: 100%;
  width: 100%;
}
.outfit_creator_bottom {
  flex-basis: 4%;
  display: flex;
  margin-left: 10.35vw;
  margin-right: 7.75vw;
}
.outfit_creator_save {
  box-sizing: border-box;
  flex-basis: 41.5%;
  background-color: #5a6c73;
  border-radius: 1vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 16px;
}
.outfit_creator_generate {
  display: flex;
  flex-basis: 50.5%;
}
.outfit_creator_generate > div {
  background-color: #5a6c73;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 16px;
}
.outfit_creator_generate_text {
  flex-basis: 81%;
  border-radius: 1vw;
  margin-right: 5%;
}

.outfit_creator_generate_arrow_bg {
  flex-basis: 14%;
  border-radius: 50%;
}
.outfit_creator_generate_arrow {
  font-size: 22px;
  display: inline-block;
  transform: scale(1, 0.6) translate(0vw, 0vh);
}
.clothes_menu {
  background-color: black;
  display: flex;
  position: absolute;
  top: 6.25%;
  left: 58.25%;
  transform: translate(-50%-50%);
  height: 88.5vh;
  width: 34.5vw;
}
.clothes_menu_list {
  flex-basis: 80.25%;
  display: flex;
  flex-direction: column;
}
.clothes_menu_type {
  background-color: red;
  flex-basis: 19.75%;
}
.clothes_menu_list_filters {
  flex-basis: 4.25%;
  background-color: #b1bdb9;
  display: flex;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  box-sizing: border-box;
  padding: 1.25% 0;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.25);
}
.clothes_menu_list_filters > div {
  background-color: #5a6c73;
  margin-right: 1.5%;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}
.clothes_menu_list_filters > div > img {
  padding-top: 12.5%;
  height: 75%;
  width: auto;
}
.clothes_menu_list_filters_filter {
  display: flex;
  flex-basis: 36%;
  box-sizing: border-box;
  margin-left: 1%;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.clothes_menu_list_filters_filter > span {
  font-size: 20px;
  display: inline-block;
  transform: scale(1, 0.5);
  margin-left: 0.2vw;
  font-weight: 700;
}

.clothes_menu_list_filters_color {
  flex-basis: 5.54%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.clothes_menu_list_filters_color_colors {
  background-color: blue;
  margin: 17%;
  flex-basis: 66%;
  border-radius: 50%;
}
.clothes_menu_list_filters_cold {
  flex-basis: 5.54%;
  border-radius: 50%;
}
.clothes_menu_list_filters_rainy {
  flex-basis: 5.54%;
  border-radius: 50%;
}
.clothes_menu_list_filters_sad {
  flex-basis: 5.54%;
  border-radius: 50%;
}
.clothes_menu_list_filters_happy {
  flex-basis: 5.54%;
  border-radius: 50%;
}
.clothes_menu_list_images {
  background-color: #e7e3e4;
  overflow-y: hidden;
  display: flex;
  padding: 5% 1.25%;
  padding-bottom: 10%;
  flex-basis: 79vh;
  box-shadow: inset 5px 0px 5px -5px rgba(0, 0, 0, 0.2),
    inset -5px 0px 5px -5px rgba(0, 0, 0, 0.2),
    inset 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.clothes_menu_list_images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 100%;
  gap: 0vw;
  row-gap: 0.25vh;
  overflow-y: scroll;
}

.clothes_menu_list_img_container {
  position: relative;
  height: 10.5vh;
  width: 10.5vh;
  margin: 0.25vw;
  margin-top: 0;
  border-radius: 15%;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.clothes_menu_list_img_container img {
  object-fit: cover;
  object-position: top center;
  height: 100%;
  width: 100%;
}

.clothes_menu_list_images_container::-webkit-scrollbar-thumb {
  background: #b1bdb9;
}

.clothes_menu_list_images_container::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.clothes_menu_list_images_container::-webkit-scrollbar-track:hover {
  background: #f7f7f7;
}

.clothes_menu_list_images_container::-webkit-scrollbar-thumb:active {
  background-color: #666;
}

.clothes_menu_list_images_container::-webkit-scrollbar-track {
  background: #f7f7f7;
}
.clothes_menu_list_add {
  background-color: #f98770;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clothes_menu_list_add img {
  height: 40%;
  width: auto;
}
