.background_circle1 {
  background-color: #f98770;
  width: 79vw;
  height: 79vw;
  border-radius: 39.5vw;
  position: absolute;
  top: 10%;
  left: -22%;
  transform: translate(-50%-50%);
  z-index: -2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(25px);
}
.background_circle2 {
  background-color: #5a6c73;
  width: 44vw;
  height: 44vw;
  border-radius: 22vw;
  position: absolute;
  top: -10%;
  left: 65%;
  transform: translate(-50%-50%);
  z-index: -2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  filter: blur(25px);
}
.background_white {
  background-color: rgba(245, 245, 245, 0.725);
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.outfit_creator {
  display: flex;
  position: absolute;
  top: 7.35%;
  left: 6.75%;
  transform: translate(-50%-50%);
  height: 85vh;
  width: 46vw;
  flex-direction: column;
  padding: 2vh 0;
}
.outfit_creator_images {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2.5vh;
  margin-bottom: 1vh;
}
.outfit_creator_images img {
  height: 35.5vh;
  width: 35.5vh;
  border-radius: 5%;
}
.outfit_creator_bottom {
  flex-basis: 4%;
  display: flex;
  margin-left: 10.35vw;
  margin-right: 7.75vw;
}
.outfit_creator_save {
  box-sizing: border-box;
  flex-basis: 41.5%;
  background-color: #5a6c73;
  border-radius: 1vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 16px;
}
.outfit_creator_generate {
  display: flex;
  flex-basis: 50.5%;
}
.outfit_creator_generate > div {
  background-color: #5a6c73;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 16px;
}
.outfit_creator_generate_text {
  flex-basis: 81%;
  border-radius: 1vw;
  margin-right: 5%;
}

.outfit_creator_generate_arrow_bg {
  flex-basis: 14%;
  border-radius: 50%;
}
.outfit_creator_generate_arrow {
  font-size: 22px;
  display: inline-block;
  transform: scale(1, 0.6) translate(0vw, 0vh);
}
.clothes_menu {
  background-color: aquamarine;
  display: flex;
  position: absolute;
  top: 6.25%;
  left: 58.25%;
  transform: translate(-50%-50%);
  height: 88.5vh;
  width: 34.5vw;
}
.clothes_menu_list {
  background-color: lightcoral;
  flex-basis: 80.25%;
}
.clothes_menu_type {
  background-color: red;
  flex-basis: 19.75%;
}
