body {
  background-color: white;
  font-family: "Lato", sans-serif;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -2;
}
.background_circle1 {
  background-color: #f98770;
  width: 79vw;
  height: 79vw;
  border-radius: 39.5vw;
  position: absolute;
  top: -20%;
  left: -17%;
  transform: translate(-50%-50%);
  z-index: -1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.background_circle2 {
  background-color: #5a6c73;
  width: 44vw;
  height: 44vw;
  border-radius: 22vw;
  position: absolute;
  top: 45%;
  left: 75%;
  transform: translate(-50%-50%);
  z-index: -1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.background_line1 {
  position: absolute;
  background-color: black;
  width: 120%;
  height: 2px;
  top: 2%;
  left: -5%;
  z-index: -1;
}

.background_line2 {
  position: absolute;
  background-color: black;
  width: 1px;
  height: 120%;
  top: 0%;
  left: 97.5%;
  z-index: -1;
}

.background_line3 {
  position: absolute;
  background-color: black;
  width: 40%;
  height: 1px;
  top: 97.5%;
  left: 82%;
  z-index: -1;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 5.35vh;
  right: 0vw;
  width: 5vw;
  height: 87vh;
  padding-top: 2vh;
  align-items: center;
  background-color: #f98770;
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}

.sidebar_menu {
  margin-bottom: 2.75vh;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
  display: flex;
  align-self: stretch;
  justify-content: center;
}
.sidebar_menu_on {
  background-color: white;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  box-shadow: inset -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.sidebar_menu_on img {
  filter: invert(14%) sepia(31%) saturate(5595%) hue-rotate(311deg)
    brightness(97%) contrast(102%);
}
.sidebar_clothes {
  margin-bottom: 3.75vh;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
  display: flex;
  align-self: stretch;
  justify-content: center;
}
.sidebar_clothes_on {
  background-color: white;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  box-shadow: inset -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.sidebar_clothes_on img {
  filter: invert(14%) sepia(31%) saturate(5595%) hue-rotate(311deg)
    brightness(97%) contrast(102%);
}
.sidebar_cupboard {
  margin-bottom: 4vh;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  display: flex;
  align-self: stretch;
  justify-content: center;
}
.sidebar_cupboard_on {
  background-color: white;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  box-shadow: inset -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.sidebar_cupboard_on img {
  filter: invert(14%) sepia(31%) saturate(5595%) hue-rotate(311deg)
    brightness(97%) contrast(102%);
}
.sidebar_account {
  margin-bottom: 6vh;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
  display: flex;
  align-self: stretch;
  justify-content: center;
}
.sidebar_account_on {
  background-color: white;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  box-shadow: inset -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.sidebar_account_on img {
  filter: invert(14%) sepia(31%) saturate(5595%) hue-rotate(311deg)
    brightness(97%) contrast(102%);
}
.sidebar_logout {
  position: fixed;
  bottom: 8vh;
  right: 1.5vw;
}

.transition_all_1s {
  transition: all 1s ease;
}
.transition_all_1s_2 {
  transition: all 1s ease;
}
.transition_all_05s {
  transition: all 0.5s ease;
}
.transition_all_02s {
  transition: all 0.2s ease;
}

::-webkit-scrollbar {
  width: 0.9vw;
}

::-webkit-scrollbar-thumb {
  background: #e7e3e4;
  border-radius: 1vh;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
  border-radius: 1vh;
}

::-webkit-scrollbar-track:hover {
  border-radius: 1vh;
  background: #f7f7f7;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  border-radius: 1vh;
  background-color: #666;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 1vh;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* FIREFOX */
@-moz-document url-prefix() {
  .cupboard_all_flexbox_middle {
    scrollbar-width: thin;
    scrollbar-color: #bbb #f7f7f7;
  }
  .scrollbar_shadow_firefox {
    width: 8px;
    background-color: transparent;
    height: 82vh;
    position: absolute;
    z-index: 1;
    top: 13.9vh;
    right: 6vw;
    box-shadow: inset -3px 0px 5px -3px rgba(0, 0, 0, 0.2),
      inset 3px 0px 5px -3px rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}
