.background_circle1 {
  background-color: #f98770;
  width: 90vw;
  height: 90vw;
  border-radius: 39.5vw;
  position: absolute;
  top: -20%;
  left: 38%;
  transform: translate(-50%-50%);
  z-index: -1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.background_circle2 {
  background-color: #5a6c73;
  width: 45vw;
  height: 45vw;
  border-radius: 22vw;
  position: absolute;
  top: -20%;
  left: -20%;
  transform: translate(-50%-50%);
  z-index: -1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.flexbox_main {
  position: absolute;
  width: 40vw;
  height: 45vh;
  top: 13%;
  left: 7.1%;
  transform: translate(-50%-50%);
  display: flex;
  flex-direction: column;
}
.flexbox_main_img {
  flex-basis: 57.5%;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.flexbox_main_text {
  flex-basis: 42.5%;
  padding: 0vh 2vw;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3rem;
}
.flexbox_login {
  padding: 1.65vh 0.65vw;
  padding-bottom: 0.1vh;
  position: absolute;
  width: 20vw;
  height: 20vh;
  top: 67%;
  left: 7.1%;
  transform: translate(-50%-50%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.flexbox_login_item {
  flex-basis: 17.25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.flexbox_login_email {
  margin-bottom: 1vh;
  border-radius: 1vw;
  background-color: #b1bdb9;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.flexbox_login_password {
  margin-bottom: 1vh;
  border-radius: 1vw;
  background-color: #b1bdb9;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.flexbox_login_log_in {
  margin-bottom: 1vh;
  border-radius: 1vw;
  box-sizing: border-box;
  margin-left: 5.25vw;
  margin-right: 5.25vw;
  background-color: #f98770;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}
.flexbox_login_log_in:hover {
  filter: brightness(90%);
}
.flexbox_login_text1 {
  flex-basis: 15%;
  color: #5a6c73;
  cursor: pointer;
}
.flexbox_login_text1:hover {
  text-decoration: underline;
}
.flexbox_login_text2 {
  color: #5a6c73;
  flex-basis: 15%;
  cursor: pointer;
}
.flexbox_login_text2:hover {
  text-decoration: underline;
}
.background_left {
  display: flex;
  position: absolute;
  width: 84.5vh;
  height: 2vw;
  top: 54.75%;
  left: 3.7%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.background_left_item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.background_left_text1 {
  box-sizing: border-box;
  flex-basis: 10%;
  color: #f98770;
}
.background_left_text2 {
  box-sizing: border-box;
  flex-basis: 10%;
  color: #f98770;
}
.background_left_text3 {
  box-sizing: border-box;
  flex-basis: 15%;
  color: #f98770;
}
.background_left_line {
  box-sizing: border-box;
  flex-basis: 65%;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0.99vw 0vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.background_down_line {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 93.5%;
  left: 16.75%;
  transform: translate(-50%, -50%);
  width: 22vw;
  height: 2px;
}
.background_right_line {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 35%;
  left: 96.5%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 70vh;
  z-index: 3;
}
.background_up {
  display: flex;
  position: absolute;
  width: 49vw;
  height: 10vh;
  top: 6%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.background_up_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_up_img {
  flex-basis: 13%;
  padding-right: 2%;
}
.background_up_line1 {
  background-color: rgba(0, 0, 0, 0.5);
  flex-basis: 43%;
  margin: 4.9vh 0vw;
}
.background_up_text {
  flex-basis: 33%;
  font-size: 17px;
  color: #f98770;
}
.background_up_line2 {
  flex-basis: 9%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4.9vh 0vw;
}
.background_up_line3 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 6%;
  left: 89%;
  transform: translate(-50%, -50%);
  width: 23vw;
  height: 2px;
  z-index: 3;
}
.image_right_block {
  position: absolute;
  background-color: #f98770;
  top: 4%;
  left: 87%;
  transform: translate(-50%, -50%);
  width: 26vw;
  height: 8vh;
  z-index: 2;
}
.image_left {
  position: absolute;
  top: 87.5%;
  left: 41.25%;
  transform: translate(-50%, -50%);
  width: 21vw;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.images_middle {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 58%;
  left: 63%;
}
.images_middle img {
  width: 21vw;
  height: auto;
  margin-bottom: 1.5vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.images_right {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 46.5%;
  left: 84.75%;
}
.images_right img {
  width: 21vw;
  height: auto;
  margin-bottom: 1.5vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
